body {
  font-family: Arial;
  margin-left: 75px;
  margin-right: 75px;
  text-align: justify;
}

.centered {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 32px;
}

.col1 {
  width: 10%;
}

.col2 {
  width: 90%;
  text-align: center;
}

.playlistCol {
  width: 30%;
}

.barChartCol {
  width: 70%;
}

.dropdown2 {
  text-align: center;
}

.scatter-tooltip, .bar-tooltip {
  position: absolute;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
}

.scatter-tooltip {
  background-color: #1DB954;
}

.bar-tooltip {
  background-color: palevioletred;
}
